.editor {
  box-sizing: border-box;
  border: 0;
  resize: none;
  outline: none;
  flex: 1;
  font-family: 'Fanta', monospace;
  padding: 20px;
  white-space: pre;
  font-size: 14px;
}

@media screen and (max-width: 800px) {
  .editor {
    font-size: 24px;
  }
}
