.container {
  padding-right: 25vw;
  padding-left: 25vw;
  padding-top: 50px;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 800px) {
  .container {
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: column-reverse;
  }
}
