.container {
  width: 100vw;
  height: 100vh;
  background-color: #e6e6e6;
  padding: 20px 25vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0;
  }
}
